############################
# Java / Build Artefakte  #
############################
# Kompilate & temporäres
*.class
*.log
*.tmp
*.swp
*.swo

# Übliche Build-Ordner (alle Module)
bin/
out/
target/
build/
.classes/

# Test-/Coverage-Output
.coverage/
.jacoco/
*.exec
surefire-reports/
failsafe-reports/

############################
# IDE / Editor             #
############################
# Eclipse
.project
.classpath
.settings/

# IntelliJ / Android Studio (falls mal geöffnet)
.idea/
*.iml
*.iws
.idea_modules/

# VS Code
.vscode/

############################
# Paket-/Tooling-Caches    #
############################
# Maven
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
# (Ordner .mvn selbst behalten)
# Gradle
.gradle/
**/gradle-app.setting
# Wrapper-JARs ignorieren, Skripte behalten
gradle/wrapper/gradle-wrapper.jar

############################
# Betriebssystem           #
############################
# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux
*~

############################
# Archive / Sonstiges      #
############################
*.tar
*.gz
*.zip
*.7z
*.rar


